<h1>Frameworks</h1>
<p>Basicamente, o Framework provê um template de base com diversas funções para um desenvolvedor, de modo que é desnecessário gastar tempo reproduzindo funções em diversos projetos.</p>
